<section aria-labelledby="news">
  <h1 class="text-3xl p-3 border-b border-t-gray-100" id="news">Create posts</h1>

  <article class="news-card">
    <header>
      <h2 class="news-title">
        <a href="news-url.html">News Title</a>
      </h2>
      <time datetime="2024-10-18" class="news-date">October 18, 2024</time>
    </header>

    <figure class="news-image">
      <img src="news-image.jpg" alt="Short description of the image">
      <figcaption>Image caption (if necessary)</figcaption>
    </figure>
  </article>

</section>
