<article class="flex flex-1 flex-col bg-gray-200 rounded-md cursor-pointer overflow-hidden"
         routerLink="/post/{{post()?.id}}">
  <figure class="flex flex-1">
    <img class="flex-1 ease-out duration-100"
         width="800" height="600"
         priority
         placeholder="https://placehold.co/300x200"
         ngSrc="{{post()?.imageURL}}" alt="Short description of the image">
  </figure>

  <header class="flex-1">
    <h2 class="flex items-center justify-center px-3 py-6 box-content font-extralight">
      <span>{{ post()?.title }}</span>
    </h2>
  </header>

</article>
